@font-face {
  font-family: CM;
  src: url('../fonts/cmunrm.ttf');
  font-weight: normal;
  font-display: swap;
}

// @import '~chota';

:root {
  --font-family: CM, 'Helvetica Neue', sans-serif;
}

p {
  @apply py-2;
}